.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 59;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    z-index: 100;
    background: white;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);
}

.alert-box-actions{
    text-align: right;
}